.home-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}
.home-firstimage {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.home-firstimage img {
  width: 100%;
}
.home-firstimage-animator {
  position: absolute;
  top: 50%;
  left: 50%;
}
.home-firstimage p {
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: white;
  font-weight: bold;
}
.home-greenback {
  background-color: #032816;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-greenback img {
  width: 400px;
  height: auto;
}
.home-sec-text {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 100px 200px;
  padding-top: 0;
  letter-spacing: 1px;
}
.home-imgtext {
  display: flex;
  width: 100%;
  align-items: stretch;
  gap: 20px;
}
.home-imgtext div {
  width: 50%;
}
.textpart {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 30px;
  justify-content: center;
}
.imgpart img {
  width: 100%;
}
.textpart-h1 {
  font-size: 50px;
  font-weight: 600;
}
.textpart-disc {
  font-weight: 500;
  padding-right: 20px;
  font-size: 20px;
  line-height: 40px;
}
.home-slider {
  position: relative;
  margin-top: -10px;
  background-color: #032816;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 100px;
}
.slider-headings {
  font-size: 100px;
  word-spacing: 30px;
}
.slider-headings span {
  margin-left: 20%;
}
.slider-disc {
  text-align: right;
  font-size: 17px;
}
.home-slider-image {
  position: absolute;
  z-index: 10;
  width: 400px;
  height: auto;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-slider hr {
  width: 60%;
  border: 2px solid rgba(233, 190, 80, 1);
  border-radius: 50px;
  box-shadow: 0px 0px 6px 0px;
}
.home-logoimage {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-openings {
  position: relative;
}
.home-openings img {
  width: 100%;
}
.opening-headings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  width: 70%;
  color: white;
  text-align: center;
}
.opening-time {
  position: absolute;
  top: 75%;
  left: 50%;
  color: white;
  font-size: 20px;
  width: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.menu-container {
  width: 100%;
  background-color: #032816;
  margin-top: 40px;
  display: flex;
  padding: 60px 50px;
  align-items: stretch;
  color: white;
  gap: 50px;
}
.menu-firstpart {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-headings {
  font-size: 65px;
  word-spacing: 20px;
}
.menu-arrow {
  border: 1px solid rgba(233, 190, 80, 1);
  border-radius: 50%;
  font-size: 70px;
  color: rgba(233, 190, 80, 1);
}
.menu-links {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.menu-links a {
  color: white;
}
.menu-secpart {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;
}
.menu-secpart img {
  width: 100%;
}
.menu-items {
  display: flex;
  gap: 200px;
  font-size: 20px;
}
.menu-items a {
  color: white;
}
.about-container {
  margin-top: 50px;
}
.about-secpart {
  margin-top: -10px;
  background-color: #032816;
}
.about-headings {
  padding: 100px 100px;
  color: white;
  font-size: 75px;
}
.about-headings span {
  margin-left: 20%;
}
.about-headings span:last-child {
  margin-left: 40%;
}
.about-imgtextpart {
  display: flex;
  padding: 20px 40px;
  padding-bottom: 80px;
  gap: 50px;
}
.about-imgtextpart div {
  width: 50%;
}
.about-imgpart img {
  width: 100%;
}
.about-textpart {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  color: white;
  justify-content: space-between;
}
.about-textpart-head {
  font-size: 30px;
}
.about-textpart-disc {
  font-size: 20px;
  line-height: 40px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

@media (max-width: 500px) {
  .home-firstimage p {
    font-size: 45px;
  }
  .home-greenback img {
    width: 200px;
  }
  .home-sec-text {
    padding: 30px 10px;
    font-size: 15px;
  }
  .home-imgtext {
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .home-imgtext div {
    width: 100%;
  }
  .textpart {
    gap: 5px;
    padding: 0 10px;
  }
  .textpart-h1 {
    font-size: 40px;
  }
  .textpart-disc {
    font-size: 15px;
    line-height: 30px;
  }
  .home-slider {
    padding: 30px 10px;
    gap: 0;
  }
  .slider-headings {
    font-size: 27px;
    word-spacing: 5px;
  }
  .slider-disc {
    font-size: 14px;
  }
  .home-slider-image {
    width: 200px;
    top: 25%;
  }
}
